<!-- begin:: Content -->
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet">
        <div class="kt-portlet__body kt-portlet__body--fit">
            <div class="kt-invoice-1">
                <div class="kt-invoice__head" style="background-image: url(./Assets/admin/media/bg/bg-6.jpg);">
                    <div class="kt-invoice__container">
                        <div class="kt-invoice__brand">
                            <h1 class="kt-invoice__title">Hóa đơn</h1>

                        </div>
                        <div class="kt-invoice__items">
                            <div class="kt-invoice__item">
                                <span class="kt-invoice__subtitle">Ngày</span>
                                <span class="kt-invoice__text">{{order.CreateDate}}</span>
                            </div>
                            <div class="kt-invoice__item">
                                <span class="kt-invoice__subtitle">SỐ HÓA ĐƠN</span>
                                <span class="kt-invoice__text">EHD 10{{order.ID}}</span>
                            </div>
                            <div class="kt-invoice__item">
                                <span class="kt-invoice__subtitle">ĐỊA CHỈ GIAO HÀNG</span>
                                <span class="kt-invoice__text">{{order.ShipAddress}}<br></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kt-invoice__body">
                    <div class="kt-invoice__container">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>SẢN PHẨM</th>
                                    <th>SỐ LƯỢNG</th>
                                    <th>GIÁ</th>
                                    <th>TỔNG TIỀN</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in order.OrderDetails">
                                    <td>{{item.ProductVerion.Product.Name}}</td>
                                    <td>{{item.Quantity}}</td>
                                    <td>{{item.Price| currency:"":0}}</td>
                                    <td>{{item.Quantity*item.Price| currency:"":0}}</td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="kt-invoice__footer">
                    <div class="kt-invoice__container">
                        <div class="kt-invoice__bank">
                            <div class="kt-invoice__title">KHÁCH HÀNG</div>
                            <div class="kt-invoice__item">
                                <span class="kt-invoice__label">TÊN:</span>
                                <span class="kt-invoice__value">{{order.ShipName}}</span></span>
                            </div>
                            <div class="kt-invoice__item">
                                <span class="kt-invoice__label">SỐ ĐIỆN THOẠI:</span>
                                <span class="kt-invoice__value">{{order.ShipMobile}}</span></span>
                            </div>
                            <div class="kt-invoice__item">
                                <span class="kt-invoice__label">Ghi chú:</span>
                                <span class="kt-invoice__value">{{order.Note}}</span></span>
                            </div>
                        </div>
                        <div class="kt-invoice__total">
                            <span class="kt-invoice__title">Tổng tiền</span>
                            <span class="kt-invoice__price">{{getTotalMoneyInCart()}}</span>

                        </div>
                    </div>
                </div>
                <div class="kt-invoice__actions">
                    <div class="kt-invoice__container">
                        <button type="button" class="btn btn-label-brand btn-bold" onclick="window.print();">Tải hóa đơn</button>
                        <button type="button" class="btn btn-brand btn-bold" onclick="window.print();">In hóa đơn</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- end:: Content -->