
<div id="content" class="site-content" tabindex="-1">
    <div class="container">

        <nav class="woocommerce-breadcrumb"><a href="home.html">Home</a><span class="delimiter"><i class="fa fa-angle-right"></i></span>Giỏ hàng</nav>

        <div id="primary" class="content-area">
            <main id="main" class="site-main">
                <article class="page type-page status-publish hentry">
                    <header class="entry-header"><h1 itemprop="name" class="entry-title">Giỏ hàng</h1></header><!-- .entry-header -->

                    <form>

                        <table class="shop_table shop_table_responsive cart">
                            <thead>
                            <tr>
                                <th class="product-remove">&nbsp;</th>
                                <th class="product-thumbnail">&nbsp;</th>
                                <th class="product-name">Sản phẩm</th>
                                <th class="product-price">Giá</th>
                                <th class="product-quantity">Số lượng</th>
                                <th class="product-subtotal">Thành tiền</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr class="cart_item" ng-repeat="item in cart.OrderDetails">

                                <td class="product-remove">
                                    <button class="remove"   target="_self" ng-click="removeProduct(item.ProductVerion.ProductVersion.ID)" >×</button>
                                </td>

                                <td class="product-thumbnail">
                                    <a href="single-product.html"><img width="180" height="180" src="{{item.ProductVerion.ProductVersion.Image}}" alt=""></a>
                                </td>

                                <td data-title="Product" class="product-name">
                                    <a href="single-product.html">{{item.ProductVerion.Product.Name}}</a>
                                </td>

                                <td data-title="Price" class="product-price">
                                    <span ng-show="item.ProductVerion.ProductVersion.PromotionPrice==0" class="amount">{{item.ProductVerion.ProductVersion.Price | currency:"":0}}</span>
                                    <span ng-show="item.ProductVerion.ProductVersion.PromotionPrice>0" class="amount">{{item.ProductVerion.ProductVersion.PromotionPrice | currency:"":0}}</span>
                                </td>

                                <td data-title="Quantity" class="product-quantity">
                                    <div class="quantity buttons_added">
                                        <input ng-disabled="item.Quantity<=1" ng-click="addToCart(item.ProductVerion.ProductVersion.ID,-1)" type="button" class="minus" value="-">
                                        <label>Quantity:</label>
                                        <input type="number"  readonly size="4" class="input-text qty text"  value="{{item.Quantity}}"  min="1" step="1">
                                        <button ng-click="addToCart(item.ProductVerion.ProductVersion.ID,1)" type="button" class="plus">+</button>
                                    </div>
                                </td>

                                <td data-title="Total" class="product-subtotal">
                                    <span class="amount">{{item.Quantity*item.Price| currency:"":0}}</span>

                                </td>
                            </tr>

                            <tr>
                                <td class="actions" colspan="6">

                                    <div class="coupon">


                                    </div>


                                    <div class="wc-proceed-to-checkout">

                                        <a class="checkout-button button alt wc-forward" ui-sref="check-out">Thanh toán</a>
                                    </div>

                                    <input type="hidden" value="1eafc42c5e" name="_wpnonce"><input type="hidden" value="/electro/cart/" name="_wp_http_referer">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                    <div class="cart-collaterals">

                        <div class="cart_totals ">

                            <h2>Tổng giỏ hàng</h2>

                            <table class="shop_table shop_table_responsive">

                                <tbody>
                                <tr class="cart-subtotal">
                                    <th>Tổng tiền</th>
                                    <td data-title="Subtotal"><span class="amount">{{getTotalMoneyInCart()| currency:"":0}}</span></td>
                                </tr>


                                <tr class="shipping">
                                    <th>Chi phí khác</th>

                                </tr>

                                <tr class="order-total">
                                    <th>Tổng đơn</th>
                                    <td data-title="Total"><strong><span class="amount">{{getTotalMoneyInCart()| currency:"":0}}</span></strong> </td>
                                </tr>
                                </tbody>
                            </table>

                            <div class="wc-proceed-to-checkout">

                                <a class="checkout-button button alt wc-forward" href="checkout.html">Thanh toán</a>
                            </div>
                        </div>
                    </div>
                </article>
            </main><!-- #main -->
        </div><!-- #primary -->
    </div><!-- .container -->
</div><!-- #content -->
